<footer class="footer" id="footer">
    <ul class="footer__info">
        <li><a href="https://adalab.es/" target="_blank" class="link">articles</a></li>
        <li><a href="https://adalab.es/" target="_blank" class="link">books</a></li>
        <li><a href="https://adalab.es/" target="_blank" class="link">events</a></li>
        <li><a href="./index.html#reasons" class="link">reasons</a></li>
        <li><a href="./index.html#tips" class="link">tips</a></li>
    </ul>

    <ul class="footer__social">
        <li><a href="https://adalab.es/" target="_blank" class="link">twitter</a></li>
        <li><a href="https://adalab.es/" target="_blank" class="link">instagram</a></li>
        <li><a href="https://adalab.es/" target="_blank" class="link">mastodon.social</a></li>
    </ul>

    <p class="footer__copy">&copy;2022</p>
    <p class="footer__love">we <span class="footer__love--heart">&#9829;</span> components</p>
</footer>