* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.header {
  position: absolute; }

.hero {
  height: 100vh;
  background-image: url("../images/cover.jpeg");
  background-origin: content-box;
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }
  .hero__h1 {
    text-align: center;
    height: 59.1px;
    margin: 0 1.4px 60.9px 3px;
    font-family: "Roboto Slab", serif;
    font-size: 4.2rem;
    line-height: 5.5rem;
    text-transform: uppercase;
    color: #ffff; }
    .hero__h1::first-line {
      word-spacing: 100vw; }
  .hero__p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    text-transform: capitalize;
    color: #ffff;
    margin: 0 42.8px 35.2px 33.9px; }
  .hero__container {
    height: 37px;
    width: 37.9px;
    margin: 0 145px 34.1px 137.1px;
    background-color: #ffff;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .hero__container--icon {
      height: 9.6px;
      width: 16.8px; }

.tips {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24.9px;
  height: 376px; }
  .tips__h2 {
    font-family: "Roboto", sans-serif;
    color: #8ccbea;
    font-size: 1.4rem;
    margin: 37px 0 0 15px; }
  .tips__h3 {
    width: 290px;
    height: 60px;
    margin-top: 6px;
    font-family: "Roboto Slab", serif;
    font-size: 2.4rem;
    margin-left: 15px; }
  .tips__p {
    height: 120px;
    margin: 20px 15px 0 15px;
    color: #4a4a4a;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    line-height: 3rem; }
  .tips__button {
    height: 45px;
    width: 76px;
    margin: 26px 0 0 15px;
    border: 2px solid #f26002;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .tips__button--p {
      color: #f26002;
      font-family: "Roboto", sans-serif;
      font-size: 2rem;
      font-weight: 500; }

.reasons {
  position: relative;
  height: 624px;
  background-color: #eff9ff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .reasons__h3 {
    font-family: "Roboto Slab", serif;
    font-size: 2.4rem;
    text-align: center;
    padding-top: 29px;
    margin-bottom: 49px; }
  .reasons__article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 63px;
    margin-bottom: 44px;
    justify-items: center; }
    .reasons__article--h4 {
      grid-row-start: 1/2;
      font-family: "Roboto Slab", serif;
      font-size: 1.8rem;
      text-align: center; }
    .reasons__article--p {
      width: 180px;
      grid-row-start: 2/3;
      font-family: "Roboto", sans-serif;
      font-size: 1.8rem;
      text-align: center; }
  .reasons__button {
    width: 184px;
    height: 45px;
    background-color: #f26002;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .reasons__button--p {
      color: #ffff;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 20px; }
  .reasons__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #ffff;
    border-radius: 22.5px;
    position: absolute;
    transform: translateY(601.5px); }

.footer {
  height: 465px;
  background-color: #304268;
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-family: "Roboto", sans-serif;
    color: #ffff;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 30px;
    height: 150px;
    margin-top: 65px; }
  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-family: "Roboto", sans-serif;
    color: #ffff;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 30px;
    height: 90px;
    margin-top: 30px; }
  .footer__copy {
    margin-top: 32px;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    line-height: 30px; }
  .footer__love {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    line-height: 30px;
    margin-bottom: 36px; }
    .footer__love--heart {
      color: #f26002; }

html {
  font-size: 62.5%; }

/*# sourceMappingURL=main.css.map */
