.footer{
    height: 465px;
    background-color: #304268;
    color: $font-color; 
    display: flex;
    flex-direction: column;
    align-items: center;
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        font-family: $font-main;
        color: $font-color;
        font-size: 1.6rem;
        text-transform: uppercase;
        line-height: 30px;
        height: 150px;
        margin-top: 65px;
    
    }
    &__social{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        font-family: $font-main;
        color: $font-color;
        font-size: 1.6rem;
        text-transform: uppercase;
        line-height: 30px;
        height: 90px;
        margin-top: 30px;
    }
    &__copy{
        margin-top: 32px;
        font-family: $font-main;
        font-size: 1.4rem;
        line-height: 30px;
    }
    &__love{
        font-family: $font-main;
        font-size: 1.4rem;
        line-height: 30px;
        margin-bottom: 36px;
        &--heart{
            color: $button-color;
        }
    }

}