.footer {
  height: 465px;
  background-color: #304268;
  color: $font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media all and (min-width: 768px) {
    order: 1;
    height: 240px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-family: $font-main;
    color: $font-color;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 30px;
    height: 150px;
    margin-top: 65px;
    @media all and (min-width: 768px) {
      order: 2;
      align-items: flex-start;
      width: 210px;
      margin: 50px 30px 40px 0;
    }
    @media all and (min-width: 1280px) {
      order: 2;
      align-items: flex-start;
      width: 161px;
      margin: 50px 30px 40px 0;
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-family: $font-main;
    color: $font-color;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 30px;
    height: 90px;
    margin-top: 30px;
    @media all and (min-width: 768px) {
      align-items: flex-start;
      width: 210px;
      margin: 50px 39px 100px 0;
    }
    @media all and (min-width: 1280px) {
      align-items: flex-start;
      width: 159px;
      margin: 50px 370px 100px 0;
    }
  }
  .container {
    height: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media all and (min-width: 768px) {
      order: 3;
      align-items: flex-start;
      margin: 52px 30px 158px 39px;
      width: 210px;
    }
    @media all and (min-width: 1280px) {
      order: 3;
      align-items: flex-start;
      margin: 52px 31px 158px 370px;
      width: 159px;
    }
    &__copy {
      margin-top: 32px;
      font-family: $font-main;
      font-size: 1.4rem;
      line-height: 30px;
    }
    &__love {
      font-family: $font-main;
      font-size: 1.4rem;
      line-height: 30px;
      margin-bottom: 36px;
      &--heart {
        color: $button-color;
      }
    }
  }
}

