.header{
  position: absolute;
  width: 37.1px;
  height: 22px;
  background-color: #0271bc;
  display: flex;
  justify-content: center;
  align-items: center;
  &__icon{
    width: 13.5px;
    height: 9.7px;
  }
}