.reasons{
    height: 624px;
    background-color: #eff9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__h3{
        font-family: $font-title;
        font-size: 2.4rem;
        text-align: center;
        padding-top: 29px;
        margin-bottom: 49px;
    }
    &__article{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 63px;
        margin-bottom: 44px;
        justify-items: center;
        &--h4{
            grid-row-start: 1/2;
            font-family: $font-title;
            font-size: 1.8rem;
            text-align: center;
        }
        &--p{
            width: 180px;
            grid-row-start: 2/3;
            font-family: $font-main;
            font-size: 1.8rem;
            text-align: center;
        }
    }
    &__button{
        width: 184px;
        height: 45px;
        background-color: $button-color;
        border-radius: 22.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: #8ccbea;
        }
        &--p{
            color: $font-color;
            font-family: $font-main;
            font-weight: 500;
            font-size: 20px;
        }
    }
    &__arrow{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        background-color: $font-color;
        border-radius: 22.5px;
        position: absolute;
        transform: translateY(601.5px);
    }
}