.reasons {
  position: relative;
  height: 624px;
  background-color: #eff9ff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 108px 411px 105px;
  @media all and (min-width: 768px) {
    height: 397px;
    grid-template-rows: 119px 173px 105px;
  }
  &__h3 {
    grid-row-start: 1/2;
    font-family: $font-title;
    font-size: 2.4rem;
    text-align: center;
    padding-top: 29px;
    margin-bottom: 49px;
    width: 100vw;
    @media all and (min-width: 768px) {
      font-size: 2.6rem;
    }
    @media all and (min-width: 1280px) {
      font-size: 3.2rem;
    }
  }
  &__button {
    width: 100vw;
    display: flex;
    justify-content: center;
    &:hover {
      background-color: #8ccbea;
    }
    &--p {
      width: 184px;
      grid-row-start: 3/4;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      background-color: $button-color;
      border-radius: 22.5px;
      @media all and (min-width: 768px) {
        width: 210px;
      }
      @media all and (min-width: 1280px) {
        width: 255px;
      }
    }
    .link {
      text-align: center;
      color: $font-color;
      font-family: $font-main;
      font-weight: 500;
      font-size: 2rem;
    }
  }
  &__arrow {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translateY(601.5px);
    @media all and (min-width: 768px){
      transform: translateY(374.5px);
    }
    .link{
      width: 45px;
      height: 45px;
      background-color: $font-color;
      border-radius: 22.5px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}

.container {
  grid-row-start: 2/3;
  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 116px;
    justify-items: center;
    margin: 0 40px 0 38px;
  }
  @media all and (min-width: 1280px) {
    grid-gap: 26.7px;
  }
  &__firstArticle {
    @media all and (min-width: 768px) {
      grid-column-start: 1/2;
    }
  }
  &__secondtArticle {
    @media all and (min-width: 768px) {
      grid-column-start: 2/3;
    }
  }
  &__thirdArticle {
    @media all and (min-width: 768px) {
      grid-column-start: 3/4;
    }
  }
  &__article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 63px;
    margin-bottom: 44px;
    justify-items: center;
    @media all and (min-width: 768px) {
      grid-gap: 18px;
    }
    &--h4 {
      grid-row-start: 1/2;
      font-family: $font-title;
      font-size: 1.8rem;
      line-height: 3rem;
      text-align: center;
      @media all and (min-width: 768px) {
        font-size: 2.4rem;
      }
    }
    &--p {
      width: 180px;
      grid-row-start: 2/3;
      font-family: $font-main;
      font-size: 1.8rem;
      line-height: 3rem;
      text-align: center;
      @media all and (min-width: 768px) {
        font-size: 2rem;
        width: 212.3px;
      }
      @media all and (min-width: 1280px) {
        font-size: 2rem;
        width: 353.8px;
      }
    }
  }
}
