.tips{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24.9px;
    height: 376px;
    &__h2{
        font-family: $font-main;
        color: #8ccbea;
        font-size: 1.4rem;
        margin: 37px 0 0 15px;
    }
    &__h3{
        width: 290px;
        height: 60px;
        margin-top: 6px;
        font-family: $font-title;
        font-size: 2.4rem;
        margin-left: 15px;
    }
    &__p{
        height: 120px;
        margin: 20px 15px 0 15px;
        color: #4a4a4a;
        font-size: 1.8rem;
        font-family: $font-main;
        line-height: 3rem;
    }
    &__button{
        height: 45px;
        width: 76px;
        margin: 26px 0 0 15px;
        border: 2px solid $button-color;
        border-radius:  22.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: #8ccbea;
        }
        &--p{
            color: $button-color;
            font-family: $font-main;
            font-size: 2rem;
            font-weight: 500;
        }
    }
}