.tips{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24.9px;
    height: 376px;
    @media all and (min-width: 768px){
        height: 330px;
    }
    @media all and (min-width: 1280px){
        height: 360px;
    }
    &__h2{
        font-family: $font-main;
        color: #8ccbea;
        line-height: 3rem;
        font-size: 1.4rem;
        margin: 37px 216.69px 0 15px;
        @media all and (min-width: 768px){
            width: 216px;
            margin: 37px 513px 0 39px;
        }
        @media all and (min-width: 1280px){
            width: 360px;
            height: 26px;
            font-size: 1.6rem;
            margin: 65px 645px 0 275px;
        }
    }
    &__h3{
        width: 290px;
        line-height: 3rem;
        margin-top: 6px;
        font-family: $font-title;
        font-size: 2.4rem;
        margin: 0 15px 0 15px;
        @media all and (min-width: 768px){
            width: 690px;
            font-size: 2.6rem;
            line-height: 4.5rem;
            margin: 0 39px 0 39px;
        }
        @media all and (min-width: 1280px){
            width: 730px;
            font-size: 3.2em;
            line-height: 4.5rem;
            margin: 0 275px 0 275px;
        }
    }
    &__p{
        width: 290px;
        margin: 20px 15px 0 15px;
        color: #4a4a4a;
        font-size: 1.8rem;
        font-family: $font-main;
        line-height: 3rem;
        @media all and (min-width: 768px){
            width: 690px;
            font-size: 2rem;
            margin: 27px 39px 0 39px;
        }
        @media all and (min-width: 1280px){
            width: 730px;
            font-size: 2rem;
            margin: 32px 275px 0 275px;
        }
    }
    &__button{
        height: 45px;
        width: 76px;
        margin: 26px 229px 0 15px;
        border: 2px solid $button-color;
        border-radius:  22.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: #8ccbea;
        }
        @media all and (min-width: 768px){
            width: 91px;
            margin: 27px 638px 60px 39px;
        }
        @media all and (min-width: 1280px){
            width: 160px;
            margin: 27px 845px 60px 275px;
        }
        &--p{
            color: $button-color;
            font-family: $font-main;
            font-size: 2rem;
            line-height: 4.5rem;
            font-weight: 500;
        }
    }
}