@import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
@import 'pages/index';

html {
    font-size: 62.5%;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: absolute;
}

.hero{
    height: 543.1px;
    background-image: url("../images/cover.jpeg");
    background-origin: content-box;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    &__h1{
        text-align: center;
        height: 59.1px;
        margin: 0 1.4px 60.9px 3px;
        font-family: $font-title;
        font-size: 4.2rem;
        line-height: 5.5rem;
        text-transform: uppercase;
        color: $font-color;
        &::first-line{
            word-spacing: 100vw;
        }
    }
    &__p{
        text-align: center;
        font-family: $font-main;
        font-size: 1.6rem;
        text-transform: capitalize;
        color: $font-color;
        margin: 0 42.8px 35.2px 33.9px;
    }
    &__container{
        height: 37px;
        width: 37.9px;
        margin: 0 145px 34.1px 137.1px;
        background-color: $font-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &--icon{
            height: 9.6px;
            width: 16.8px;
        }
    }
}

.tips{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24.9px;
    height: 376px;
    &__h2{
        font-family: $font-main;
        color: $font-title-color;
        font-size: 1.4rem;
        margin: 37px 217px 15px 0;
    }
    &__h3{
        font-family: $font-title;
        font-size: 24px;
        margin-left: 15px;
    }
}

